/* Hero boshlandi */
/*.hero{
    padding: 72px 0;
    color: var(--white-color);
    background-image: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                    url("../images/careers-bg.png");

    background-position: center center;
    background-repeat: no-repeat;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

.hero__title{
    font-family: var(--font-mono);
    margin: 0;
    letter-spacing: -2.5px;
    font-size: 56px;
    line-height: 1;
    color: var(--white-color);
    position: relative;
}

.hero__title::after{
    content: "";
    position: absolute;
    right: -150px;
    width: 234px;
    height: 63px;
    background-image: url("../images/site-hero-bg-circles.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

/* Hero tugadi */

/* Land-map boshlandi */

/*.land-map{
    padding: 120px 0;
}

.city{
    font-family: var(--font-mono);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-decoration: none;
    color: var(--title-color);
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: var(--padding-color);
    position: relative;
}

.city::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    background-color: var(--padding-color);
    bottom: -12px;
    left: 85px;
}

.london{
    padding-left: 53px;
    padding-right: 53px;
    top: -515px;
    left: 380px;
}

.new-york{
    padding-left: 39px;
    padding-right: 39px;
    top: -460px;
    left: -60px;
}

.yokohama{
    padding-left: 39px;
    padding-right: 39px;
    top: -445px;
    left: 470px;
}

.jakarta{
    padding-left: 56px;
    padding-right: 56px;
    top: -285px;
    left: 195px;
}

.jakarta::after{
    left: 95px;
}

/* Land-map tugadi */

/* Listed boshlandi */

/*.listed{
    padding-bottom: 120px;
}

.listed__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listed__title{
    color: var(--title-color);
    font-family :var(--font-mono);
    font-size: 48px;
    line-height: 1;
    letter-spacing: -2.14px;
    margin: 0;
    width: 350px;
    margin-right: 20px;
}

.listed__text{
    margin: 0;
    width: 445px;
    margin-right: 50px;
}

.listed__link{
    padding: 12px 42px;
}


/* Listed tugadi */