/*Fonts*/
@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src:
         url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"),
         url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");
  }
/* space-mono-regular - latin */
@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src:
         url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/space-mono-v6-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src:
         url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/space-mono-v6-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*CUSTOM PROPERTIES*/
:root{
    --text-color: #939caa;
    --title-color: #495567;
    --white-color: #fff;
    --padding-color: #fcb72b;
    --line-color: #e5ecf4;
}

/*GLOBAL STYLES*/
html{
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-family: "Lexend Deca", "Space Mono", sans-serif;
    font-size: 15px;
    line-height: 1.67;
    color: #939caa;
    overflow-x: hidden;
}

.container{
    max-width: 1160px;
    padding: 0 25px;
    margin: 0 auto;
}
    
/* Site header boshlandi */

.site-header{
    padding: 22px 0;
}

.site-header__container, .site-footer-bottom__container{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 58px;
}

.logo-img{
    display: block;
}

.navbar{
    margin-right: auto;
}

.navbar__list, .site-footer__social, .site-footer__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item, .site-footer__item:not(:last-child){
    margin-right: 32px;
}

.navbar__link, .site-footer__link{
    font-family: "Space Mono", sans-serif;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.7;
    color: var(--text-color);
}

.scootin-link, .hero__link{
    display: block;
    color: var(--white-color);
    padding: 14px 39px;
    background-color: var(--padding-color);
    text-decoration: none;
}

/*Site-header tugadi*/

/* Hero boshlandi */

.hero{
    padding: 153px 0;
    color: var(--white-color);
    background-image: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
                    url("../images/site-hero-bg-scoot.png");

    background-position: center center,
                        calc(50% + 285px) -950px;

    background-repeat: no-repeat;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

.hero__title{
    font-family: "Space Mono", sans-serif;
    width: 500px;
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: -2.5px;
    font-size: 56px;
    line-height: 1;
    color: var(--white-color);
    position: relative;
}

.hero__title::after{
    content: "";
    position: absolute;
    top: 290px;
    right: -780px;
    width: 234px;
    height: 63px;
    background-image: url("../images/site-hero-bg-circles.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.hero__text{
    width: 405px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 95px;
    position: relative;
}

.hero__text::before{
    content: "";
    position: absolute;
    left: -250px;
    width: 203px;
    height: 10px;
    background-color: var(--padding-color);
}

.hero__text::after{
    content: "";
    position: absolute;
    left: 450px;
    top: 45px;
    width: 450px;
    height: 100px;
    background-image: url("../images/hero-right-arrov.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__link{
    align-self: start;
    margin-left: 95px;
}


/* Hero tugadi */

/* Order boshlandi */

.order{
    padding-top: 160px;
    padding-bottom: 147px;
}

.order__container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.order__container::before{
    content: "";
    position: absolute;
    width: 974px;
    height: 10px;
    left: -200px;
    top: 43px;
    background-color: var(--line-color);
    z-index: -1; 
}

.order__info{
    width: 350px;
}

.order__info::before{
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--padding-color);
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.locate-with-app::before{
    background-image: url("../images/locate-with-app.svg");
}

.pick-your-scooter::before{
    background-image: url("../images/pick-your-scooter.svg");
}

.enjoy-the-rive::before{
    background-image: url("../images/enjoy-the-ride.svg");
}

.order__info:not(:last-child){
    margin-right: 30px;
}

.order__title{
    font-family: "Space Mono", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: var(--title-color);
    margin: 0;
    margin-bottom: 27px;
}


.order__text{

}


/* Order tugadi */


/*Sticky footer boshlandi*/

.sticky{
    flex-grow: 1;
}

/*Sticky footer tugadi*/

/* Site-footer boshlandi */

.site-footer-top{
    background-color: var(--title-color);
    background-image: url("../images/site-footer-bg-circles.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 305px) 140px;
    padding: 102px 0;
}

.site-footer-top__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer-top__title{
    font-family: "Space Mono", sans-serif;
    max-width: 415px;
    margin: 0;
    color: var(--white-color);
    font-size: 48px;
    line-height: 1;
    letter-spacing: -2.1px;
}

.site-footer-top__app-market{
    display: flex;
}

.app-market__link img{
    display: block;
}

.app-market__link:not(:last-child){
    margin-right: 18px;
}

.site-footer-bottom{
    background-color: #333a44;
    padding-top: 35px;
    padding-bottom: 32px;
}

.site-footer__list{
    margin-right: auto;
}

.site-footer__social{
    display: flex;
}

.site-footer__social-icon:not(:last-child){
    margin-right: 24px;
}

.site-footer__social-icon a img{
    display: block;
}

/* Footer tugadi */